<a href="https://colab.research.google.com/github/npr99/PlanningMethods/blob/master/Explore_ACS_Variable_Metadata_2021_06_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to explore ACS variable metdata
The [American Community Survey developers section for the application programming interface (API)](https://www.census.gov/data/developers/data-sets/acs-5year.html), provides a comprehensive list of all ACS variables. The problem is that there are more than 25,000 unique estimates provided by each ACS survey. Trying to find a variable that relates to a specific topic is not easy. This notebook helps solve this problem.

The ACS metadata for each varaiable provides the following:
1. Unique variable name
2. Label
3. Group
4. Limit
5. Concept
6. Attributes
7. Predicate Type
8. Required
9. Predicate Only

The Census API guide provides more details on what each column means
https://www.census.gov/content/dam/Census/data/developers/api-user-guide/api-guide.pdf

For ACS data the most important columns are the name, label, group, and concept.

In [ ]:
# Python packages required to read in and Census API data
import requests ## Required for the Census API
import pandas as pd # For reading, writing and wrangling data

In [ ]:
# https://stackoverflow.com/questions/38845474/how-to-convert-json-into-dataframe
acs_variables_json = pd.read_json('https://api.census.gov/data/2019/acs/acs1/variables.json')

In [ ]:
# explore variable dictionary from json
acs_variables_json.variables.head()

AIANHH          {'label': 'Geography', 'group': 'N/A', 'limit'...
ANRC            {'label': 'Geography', 'group': 'N/A', 'limit'...
B01001A_001E    {'label': 'Estimate!!Total:', 'concept': 'SEX ...
B01001A_002E    {'label': 'Estimate!!Total:!!Male:', 'concept'...
B01001A_003E    {'label': 'Estimate!!Total:!!Male:!!Under 5 ye...
Name: variables, dtype: object

In [ ]:
# Apply Series to variables
acs_variables_df = acs_variables_json.variables.apply(pd.Series)
acs_variables_df.head()

                                               label  ... predicateOnly
AIANHH                                     Geography  ...           NaN
ANRC                                       Geography  ...           NaN
B01001A_001E                        Estimate!!Total:  ...           NaN
B01001A_002E                 Estimate!!Total:!!Male:  ...           NaN
B01001A_003E  Estimate!!Total:!!Male:!!Under 5 years  ...           NaN

[5 rows x 8 columns]

In [ ]:
# The variable name is in the index column - reset index move name
acs_variables = acs_variables_df.reset_index()
# rename index column
acs_variables = acs_variables.rename(columns={"index": "name"})
acs_variables.head()

           name                                   label  ... required  predicateOnly
0        AIANHH                               Geography  ...      NaN            NaN
1          ANRC                               Geography  ...      NaN            NaN
2  B01001A_001E                        Estimate!!Total:  ...      NaN            NaN
3  B01001A_002E                 Estimate!!Total:!!Male:  ...      NaN            NaN
4  B01001A_003E  Estimate!!Total:!!Male:!!Under 5 years  ...      NaN            NaN

[5 rows x 9 columns]

In [ ]:
pd.set_option('max_colwidth', 20) # concept names are long - can make pandas display different column width
acs_variables[["name","concept","group","predicateType","required","predicateOnly"]].describe()

                name              concept  ...           required predicateOnly
count          35555                35531  ...                  1             3
unique         35555                 1189  ...                  1             1
top     B24010H_068E  DETAILED OCCUPAT...  ...  default displayed          True
freq               1                  566  ...                  1             3

[4 rows x 6 columns]

In [ ]:
acs_variables.loc[acs_variables['required'] == 'default displayed']

          name             label  ...           required  predicateOnly
35536  GEOCOMP  GEO_ID Component  ...  default displayed            NaN

[1 rows x 9 columns]

In [ ]:
# Look at variables by prediate type - relates to variable type integer, float, string
acs_variables.groupby(['predicateType']).size().reset_index().rename(columns={0:'count'})

  predicateType  count
0      fips-for      1
1       fips-in      1
2         float    200
3           int  35320
4        string     10
5         ucgid      1

In [ ]:
# Look at variables that are not floats and not integers and not missing
pd.set_option('max_colwidth', 60) # concept names are long - can make pandas display different column width
acs_variables[['name','label','predicateType']].loc[(acs_variables['predicateType'].isin(["float","int"])==False) &
                  (acs_variables['predicateType'].notna())]

              name  ... predicateType
24408  B25035_001E  ...        string
24432  B25037_001E  ...        string
24433  B25037_002E  ...        string
24434  B25037_003E  ...        string
24450  B25039_001E  ...        string
24451  B25039_002E  ...        string
24452  B25039_003E  ...        string
35536      GEOCOMP  ...        string
35537       GEO_ID  ...        string
35550     SUMLEVEL  ...        string
35552          for  ...      fips-for
35553           in  ...       fips-in
35554        ucgid  ...         ucgid

[13 rows x 3 columns]

In [ ]:
# Look at the top 25 observations
acs_variables.head(25)

            name  ... predicateOnly
0         AIANHH  ...           NaN
1           ANRC  ...           NaN
2   B01001A_001E  ...           NaN
3   B01001A_002E  ...           NaN
4   B01001A_003E  ...           NaN
5   B01001A_004E  ...           NaN
6   B01001A_005E  ...           NaN
7   B01001A_006E  ...           NaN
8   B01001A_007E  ...           NaN
9   B01001A_008E  ...           NaN
10  B01001A_009E  ...           NaN
11  B01001A_010E  ...           NaN
12  B01001A_011E  ...           NaN
13  B01001A_012E  ...           NaN
14  B01001A_013E  ...           NaN
15  B01001A_014E  ...           NaN
16  B01001A_015E  ...           NaN
17  B01001A_016E  ...           NaN
18  B01001A_017E  ...           NaN
19  B01001A_018E  ...           NaN
20  B01001A_019E  ...           NaN
21  B01001A_020E  ...           NaN
22  B01001A_021E  ...           NaN
23  B01001A_022E  ...           NaN
24  B01001A_023E  ...           NaN

[25 rows x 9 columns]

# Search the labels

In [ ]:
# Look at one group of variables 
# Notice search goes back to the full list of ACS variables
acs_variables.loc[acs_variables['group'] == 'B24010']

              name  ... search var count
16777  B24010_001E  ...                0
16778  B24010_002E  ...                0
16779  B24010_003E  ...                0
16780  B24010_004E  ...                0
16781  B24010_005E  ...                0
...            ...  ...              ...
17075  B24010_299E  ...                0
17076  B24010_300E  ...                0
17077  B24010_301E  ...                0
17078  B24010_302E  ...                0
17079  B24010_303E  ...                0

[303 rows x 10 columns]

In [ ]:
acs_variables["search var count"] = 0
acs_variables.loc[acs_variables['label'].str.contains('nurse',case=False,na=False),'search var count'] += 1
acs_variables.loc[acs_variables['label'].str.contains('registered',case=False,na=False),'search var count'] += 1
acs_variables["search var count"].describe()

count    35555.000000
mean         0.003291
std          0.063334
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: search var count, dtype: float64

In [ ]:
# save observations with desired search var count
variables_to_explore = acs_variables.loc[acs_variables['search var count'] == 2]
# drop if GEO_ID is included in list - GEO_ID includes list of all variables
variables_to_explore = variables_to_explore.loc[variables_to_explore['name']!='GEO_ID']
variables_to_explore.head(50)

              name  ... search var count
16836  B24010_060E  ...                2
16987  B24010_211E  ...                2
17248  B24020_060E  ...                2
17399  B24020_211E  ...                2
19035  B24114_219E  ...                2
19601  B24115_219E  ...                2
20167  B24116_219E  ...                2
20733  B24121_219E  ...                2
21299  B24122_219E  ...                2
21865  B24123_219E  ...                2
22431  B24124_219E  ...                2
22997  B24125_219E  ...                2
23563  B24126_219E  ...                2

[13 rows x 10 columns]

In [ ]:
variables_to_explore['name'].describe()

count              13
unique             13
top       B24114_219E
freq                1
Name: name, dtype: object

## Look at all of the groups and concepts for variable
The group and concept provide a description of the variables.

In [ ]:
pd.set_option('max_colwidth', 200) # concept names are long - can make pandas display wider columns
variables_to_explore.groupby(['group','label']).size().reset_index().rename(columns={0:'count'})

     group  ... count
0   B24010  ...     1
1   B24010  ...     1
2   B24020  ...     1
3   B24020  ...     1
4   B24114  ...     1
5   B24115  ...     1
6   B24116  ...     1
7   B24121  ...     1
8   B24122  ...     1
9   B24123  ...     1
10  B24124  ...     1
11  B24125  ...     1
12  B24126  ...     1

[13 rows x 3 columns]

In [ ]:
# Save results to a csv file
variables_to_explore.to_csv("variables_to_explore.csv")