<a href="https://colab.research.google.com/github/npr99/PlanningMethods/blob/master/Location_Quotient_Using_BLS_QCEW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Location Quotient Example Using BLS QCEW

The Bureau of Labor Statistics provides employment and wage data by year, county, state, and nation by industry.

An overview of this data is available on the BLS website for the Quarterly Census of Employment and Wages (QCEW) data

https://www.bls.gov/cew/

The BLS provides data in "data slices" - for individual states and counties.

https://data.bls.gov/cew/doc/access/csv_data_slices.htm

The BLS provides a complete layout of the datasets - specifically for Location Quotient the Annual Average data is a good choice:

https://data.bls.gov/cew/doc/access/csv_data_slices.htm#ANNUAL_LAYOUT

The BLS provides a complete list of Areas (states and counties) - the "area codes" are based on the state and county FIPS codes:

https://data.bls.gov/cew/doc/titles/area/area_titles.htm

### Example Area Slice Files

2016 QCEW Annual averages for Georgia
http://data.bls.gov/cew/data/api/2016/a/area/13000.csv

2016 QCEW Annual averages for Chatham County, GA
http://data.bls.gov/cew/data/api/2016/a/area/13051.csv

### File Layout
https://www.bls.gov/cew/about-data/downloadable-file-layouts/annual/naics-based-annual-layout.htm

#### Details on codes for different ownership types:
https://www.bls.gov/cew/classifications/ownerships/ownership-titles.htm


Note totals for employment are the sums of all Annual average of monthly employment levels for a given year (annual_avg_emplvl) for all ownership codes.

### BLS data as time series
Chatham County QCEW Time Series Data
https://data.bls.gov/timeseries/ENU1305110010

## Step 1: Obtain BLS QCEW Data File
The Pandas read csv command is a fast way to download .csv datafiles directly to the notebook session.

In [26]:
import pandas as pd # For reading, writing and wrangling data

blsqcew = pd.read_csv('http://data.bls.gov/cew/data/api/2016/a/area/48041.csv')
blsqcew.head()

   area_fips  own_code  ... oty_avg_annual_pay_chg  oty_avg_annual_pay_pct_chg
0      48041         0  ...                    224                         0.6
1      48041         1  ...                   1291                         1.9
2      48041         1  ...                   1291                         1.9
3      48041         1  ...                  -4058                        -6.0
4      48041         1  ...                   2939                         4.2

[5 rows x 38 columns]

## Step 3: Explore Data
Look at descripitive statistics for key variabiables.

In [27]:
# Explore the Location quotient of annual average employment relative to the U.S. (Rounded to the hundredths place)
blsqcew[['annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages',]].describe()

       annual_avg_estabs  ...  lq_total_annual_wages
count        1594.000000  ...            1594.000000
mean           24.928482  ...               0.562729
std           186.955722  ...               1.312358
min             0.000000  ...               0.000000
25%             1.000000  ...               0.000000
50%             3.000000  ...               0.000000
75%            10.000000  ...               0.750000
max          4405.000000  ...              18.520000

[8 rows x 4 columns]

Look at top Location Quotients by industry

In [30]:
blsqcew[['industry_code','annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages']].sort_values(by='lq_annual_avg_emplvl', ascending=False).head(10)

    industry_code  ...  lq_total_annual_wages
561        332321  ...                  14.80
78           1025  ...                  13.28
294          1123  ...                  18.52
18         519120  ...                  11.48
17          51912  ...                  11.48
15            519  ...                  11.43
16           5191  ...                  11.43
73             10  ...                   8.29
14             51  ...                   9.42
4            1022  ...                   9.42

[10 rows x 5 columns]

## Full list of industry codes
For a full list of industry codes use the link below:

https://www.bls.gov/cew/classifications/industry/industry-titles.htm


## More details on NAICS
North American Industry Classification System (NAICS) 

https://www.naics.com/search/

## NAICS FAQ
https://www.naics.com/frequently-asked-questions/#NAICSfaq

Look at top industries by employement.

In [33]:
blsqcew[['industry_code','annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages']].sort_values(by='annual_avg_emplvl', ascending=False).head(10)

     industry_code  ...  lq_total_annual_wages
0               10  ...                   1.00
263             10  ...                   0.72
268            102  ...                   0.70
73              10  ...                   8.29
78            1025  ...                  13.28
274           1026  ...                   1.34
269           1021  ...                   0.68
1467            72  ...                   1.56
264            101  ...                   0.80
1481           722  ...                   1.86

[10 rows x 5 columns]

Look at summary data by 2-digit NAICS code and Ownership Code.

In [42]:
blsqcew[['industry_code','own_code','annual_avg_estabs','annual_avg_emplvl']].loc[blsqcew['industry_code'].str.len()==2].sort_index()

     industry_code  own_code  annual_avg_estabs  annual_avg_emplvl
0               10         0               4405              99930
1               10         1                 28                721
14              51         1                  1                 33
19              52         1                  1                  4
24              62         1                  1                 23
29              71         1                  1                  3
34              92         1                 18                446
73              10         2                 47              25987
80              23         2                  1                  0
85              54         2                  2                  0
90              61         2                 18                  0
95              62         2                  3                  0
106             92         2                 23               1962
143             10         3                 55               8898
154             22         3                  8                434
164             23         3                  4                143
173             51         3                  1                  0
178             53         3                  1                  0
183             54         3                  1                  0
188             56         3                  5                  0
203             61         3                  3                  0
211             62         3                  3                  0
219             71         3                  2                  0
224             92         3                 27               1995
263             10         5               4275              64325
277             11         5                 56                646
330             21         5                 73               1103
348             22         5                  6                 73
361             23         5                436               4958
646             42         5                174               1909
1005            51         5                 54               1228
1048            52         5                239               1829
1096            53         5                272               1635
1145            54         5                512               4546
1229            55         5                  8                228
1236            56         5                255               3271
1308            61         5                 57                929
1338            62         5                434               9193
1424            71         5                 66               1421
1467            72         5                408              12432
1498            81         5                378               2369
1589            99         5                 21                 50