<a href="https://colab.research.google.com/github/npr99/PlanningMethods/blob/master/Location_Quotient_Using_BLS_QCEW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Location Quotient Example Using BLS QCEW

The Bureau of Labor Statistics provides employment and wage data by year, county, state, and nation by industry.

An overview of this data is available on the BLS website for the Quarterly Census of Employment and Wages (QCEW) data

https://www.bls.gov/cew/

The BLS provides data in "data slices" - for individual states and counties.

https://data.bls.gov/cew/doc/access/csv_data_slices.htm

The BLS provides a complete layout of the datasets - specifically for Location Quotient the Annual Average data is a good choice:

https://data.bls.gov/cew/doc/access/csv_data_slices.htm#ANNUAL_LAYOUT

The BLS provides a complete list of Areas (states and counties) - the "area codes" are based on the state and county FIPS codes:

https://data.bls.gov/cew/doc/titles/area/area_titles.htm

### Example Area Slice Files

2016 QCEW Annual averages for Georgia
http://data.bls.gov/cew/data/api/2016/a/area/13000.csv

2016 QCEW Annual averages for Chatham County, GA
http://data.bls.gov/cew/data/api/2016/a/area/13051.csv

### File Layout
https://www.bls.gov/cew/about-data/downloadable-file-layouts/annual/naics-based-annual-layout.htm

#### Details on codes for different ownership types:
https://www.bls.gov/cew/classifications/ownerships/ownership-titles.htm


Note totals for employment are the sums of all Annual average of monthly employment levels for a given year (annual_avg_emplvl) for all ownership codes.

### BLS data as time series
Chatham County QCEW Time Series Data
https://data.bls.gov/timeseries/ENU1305110010

## Step 1: Obtain BLS QCEW Data File
The Pandas read csv command is a fast way to download .csv datafiles directly to the notebook session.

In [11]:
import pandas as pd # For reading, writing and wrangling data

blsqcew = pd.read_csv('http://data.bls.gov/cew/data/api/2016/a/area/C2790.csv')
blsqcew.head()

  area_fips  own_code  ... oty_avg_annual_pay_chg  oty_avg_annual_pay_pct_chg
0     C2790         0  ...                    513                         1.4
1     C2790         1  ...                  -1028                        -1.8
2     C2790         2  ...                    -69                        -0.2
3     C2790         3  ...                    328                         1.0
4     C2790         5  ...                    547                         1.4

[5 rows x 38 columns]

## Step 3: Explore Data
Look at descripitive statistics for key variabiables.

In [12]:
# Explore the Location quotient of annual average employment relative to the U.S. (Rounded to the hundredths place)
blsqcew[['annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages',]].describe()

       annual_avg_estabs  ...  lq_total_annual_wages
count        1367.000000  ...            1367.000000
mean           28.961229  ...               0.424382
std           208.911508  ...               1.746449
min             0.000000  ...               0.000000
25%             2.000000  ...               0.000000
50%             4.000000  ...               0.000000
75%            12.000000  ...               0.140000
max          4590.000000  ...              29.420000

[8 rows x 4 columns]

Look at top Location Quotients by industry

In [13]:
blsqcew[['industry_code','annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages']].sort_values(by='lq_annual_avg_emplvl', ascending=False).head(10)

    industry_code  ...  lq_total_annual_wages
172         31111  ...                  29.42
171          3111  ...                  29.42
191         31151  ...                  20.98
190          3115  ...                  18.46
762        484230  ...                  13.45
761         48423  ...                  13.45
395          3359  ...                  10.42
753         48412  ...                  12.93
185          3114  ...                  12.34
38           1123  ...                   8.57

[10 rows x 5 columns]

## Full list of industry codes
For a full list of industry codes use the link below:

https://www.bls.gov/cew/classifications/industry/industry-titles.htm


## More details on NAICS
North American Industry Classification System (NAICS) 

https://www.naics.com/search/

## NAICS FAQ
https://www.naics.com/frequently-asked-questions/#NAICSfaq

Look at top industries by employement.

In [14]:
blsqcew[['industry_code','annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages']].sort_values(by='annual_avg_emplvl', ascending=False).head(10)

     industry_code  ...  lq_total_annual_wages
0               10  ...                   1.00
4               10  ...                   1.05
9              102  ...                   0.96
10            1021  ...                   1.59
5              101  ...                   1.42
8             1013  ...                   1.87
169          31-33  ...                   1.87
14            1025  ...                   1.32
1131            62  ...                   1.49
589          44-45  ...                   1.48

[10 rows x 5 columns]

Look at summary data by 2-digit NAICS code and Ownership Code.

In [15]:
blsqcew[['industry_code','own_code','annual_avg_estabs','annual_avg_emplvl']].loc[blsqcew['industry_code'].str.len()==2].sort_values(by=['industry_code','own_code'])

     industry_code  own_code  annual_avg_estabs  annual_avg_emplvl
0               10         0               4590              77060
1               10         1                 47                424
2               10         2                 28               1325
3               10         3                180               7194
4               10         5               4335              68118
17              11         5                 42                  0
65              21         5                  7                  0
76              22         5                 17                  0
86              23         5                327               2540
457             42         5                223                  0
808             51         5                 45                652
858             52         5                272               1735
907             53         5                154                611
952             54         5                267               1492
1027            55         5                 37               1398
1033            56         5                177               4537
1104            61         5                 19                242
1131            62         5                853              12190
1217            71         5                 45                353
1254            72         5                341               6782
1281            81         5                369               2082