<a href="https://colab.research.google.com/github/npr99/PlanningMethods/blob/master/Location_Quotient_Using_BLS_QCEW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Location Quotient Example Using BLS QCEW

The Bureau of Labor Statistics provides employment and wage data by year, county, state, and nation by industry.

An overview of this data is available on the BLS website for the Quarterly Census of Employment and Wages (QCEW) data

https://www.bls.gov/cew/

The BLS provides data in "data slices" - for individual states and counties.

https://data.bls.gov/cew/doc/access/csv_data_slices.htm

The BLS provides a complete layout of the datasets - specifically for Location Quotient the Annual Average data is a good choice:

https://data.bls.gov/cew/doc/access/csv_data_slices.htm#ANNUAL_LAYOUT

The BLS provides a complete list of Areas (states and counties) - the "area codes" are based on the state and county FIPS codes:

https://data.bls.gov/cew/doc/titles/area/area_titles.htm

### Example Area Slice Files

2016 QCEW Annual averages for Georgia
http://data.bls.gov/cew/data/api/2016/a/area/13000.csv

2016 QCEW Annual averages for Chatham County, GA
http://data.bls.gov/cew/data/api/2016/a/area/13051.csv

### File Layout
https://www.bls.gov/cew/about-data/downloadable-file-layouts/annual/naics-based-annual-layout.htm

#### Details on codes for different ownership types:
https://www.bls.gov/cew/classifications/ownerships/ownership-titles.htm


Note totals for employment are the sums of all Annual average of monthly employment levels for a given year (annual_avg_emplvl) for all ownership codes.

### BLS data as time series
Chatham County QCEW Time Series Data
https://data.bls.gov/timeseries/ENU1305110010

## Step 1: Obtain BLS QCEW Data File
The Pandas read csv command is a fast way to download .csv datafiles directly to the notebook session.

In [1]:
import pandas as pd # For reading, writing and wrangling data

blsqcew = pd.read_csv('http://data.bls.gov/cew/data/api/2016/a/area/29097.csv')
blsqcew.head()

   area_fips  own_code  ... oty_avg_annual_pay_chg  oty_avg_annual_pay_pct_chg
0      29097         0  ...                    388                         1.0
1      29097         1  ...                  -1086                        -1.9
2      29097         1  ...                  -1086                        -1.9
3      29097         1  ...                  -1885                        -3.5
4      29097         1  ...                   1226                         1.8

[5 rows x 38 columns]

## Step 3: Explore Data
Look at descripitive statistics for key variabiables.

In [2]:
# Explore the Location quotient of annual average employment relative to the U.S. (Rounded to the hundredths place)
blsqcew[['annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages',]].describe()

       annual_avg_estabs  ...  lq_total_annual_wages
count        1493.000000  ...            1493.000000
mean           20.238446  ...               0.493918
std           147.346501  ...               1.371298
min             0.000000  ...               0.000000
25%             1.000000  ...               0.000000
50%             3.000000  ...               0.000000
75%             8.000000  ...               0.620000
max          3351.000000  ...              18.910000

[8 rows x 4 columns]

Look at top Location Quotients by industry

In [3]:
blsqcew[['industry_code','annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages']].sort_values(by='lq_annual_avg_emplvl', ascending=False).head(10)

    industry_code  ...  lq_total_annual_wages
380         31111  ...                  18.91
379          3111  ...                  18.91
907        484230  ...                  16.11
906         48423  ...                  16.11
898         48412  ...                  14.86
390          3114  ...                  15.36
895          4841  ...                  11.41
259          1123  ...                   8.89
894           484  ...                   9.83
180        713940  ...                   7.95

[10 rows x 5 columns]

## Full list of industry codes
For a full list of industry codes use the link below:

https://www.bls.gov/cew/classifications/industry/industry-titles.htm


## More details on NAICS
North American Industry Classification System (NAICS) 

https://www.naics.com/search/

## NAICS FAQ
https://www.naics.com/frequently-asked-questions/#NAICSfaq

Look at top industries by employement.

In [4]:
blsqcew[['industry_code','annual_avg_estabs','annual_avg_emplvl','lq_annual_avg_emplvl','lq_total_annual_wages']].sort_values(by='annual_avg_emplvl', ascending=False).head(10)

     industry_code  ...  lq_total_annual_wages
0               10  ...                   1.00
227             10  ...                   1.07
232            102  ...                   0.99
233           1021  ...                   1.58
228            101  ...                   1.36
237           1025  ...                   1.38
1261            62  ...                   1.56
377          31-33  ...                   1.83
231           1013  ...                   1.83
740          44-45  ...                   1.40

[10 rows x 5 columns]

Look at summary data by 2-digit NAICS code and Ownership Code.

In [10]:
blsqcew[['industry_code','own_code','annual_avg_estabs','annual_avg_emplvl']].loc[blsqcew['industry_code'].str.len()==2].sort_values(by=['industry_code','own_code'])

     industry_code  own_code  annual_avg_estabs  annual_avg_emplvl
0               10         0               3351              60108
1               10         1                 30                284
41              10         2                 20               1218
91              10         3                115               4848
227             10         5               3186              53758
240             11         5                 26                319
278             21         5                  5                102
102             22         3                  7                  0
287             22         5                  7                  0
112             23         3                  7                144
297             23         5                209               1729
620             42         5                161                  0
126             51         3                  3                 71
947             51         5                 30                481
990             52         5                196               1277
1039            53         5                123                504
131             54         3                  1                  0
1083            54         5                203               1279
1158            55         5                 25               1331
136             56         3                  1                  0
1164            56         5                127               4077
45              61         2                  2                  0
141             61         3                 38               3060
1235            61         5                 15                219
53              62         2                  2                  0
152             62         3                  9                136
1261            62         5                654               9914
170             71         3                  6                139
1347            71         5                 40                335
1382            72         5                251               4727
181             81         3                  3                  0
1409            81         5                284               1649
10              92         1                 13                 85
62              92         2                 16                  0
190             92         3                 38                965